@{
    ViewData["Title"] = "ECCONOMI";
}
<section id="principal">

        <div>
            <form method="get" asp-action="Login" asp-controller="Autentication">
            <a asp-controller="UserEdit" asp-action="Index" class="Voltar">Se Cadastrar</a>
                <h3>LOGIN</h3>
                <br>
                <input class="input" type="email" id="mail" name="mail" placeholder="Seu e-mail...">
                <input class="input" type="password" id="senha" name="senha" placeholder="Sua senha...">
                <center>
                <input type="submit" id="btn" name="acao" value="Entrar" />
                    <br>
                    <br>
                <a asp-controller="AlterPassword" asp-action="Index" style="margin-top: 1em;">Esqueceu a Senha?</a>
                </center>
            </form>

        </div>
</section>

</section>
