@{
    ViewData["Title"] = "ECCONOMI";
}
    <section id="principal">
        <div class="Trasos">
        <span class="btn-trass" onclick="geral()">&#9776;</span>
        </div>
        <aside id="menuOculto" class="menuOculto">
            <br>
        <strong><a asp-controller="Autentication" asp-action="Index" style="margin-top: 0;">Sair</a></strong>
            <br>
            <br>
            <br>
            <a style="font-size: 1em;" href="#Reserva">Reserva de Emergências                    </a>   <br>
            <a style="font-size: 1em;" href="#Metas">Realização de Metas                         </a>   <br>
            <a style="font-size: 1em;" href="#Financeira">Independência Financeira               </a>   <br>
            <a style="font-size: 1em;" href="#Investimento">Oportunidades de Investimento        </a>   <br>
            <a style="font-size: 1em;" href="#Estresse">Redução do Estresse Financeiro           </a>   <br>
            <a style="font-size: 1em;" href="#Aposentadoria">Aposentadoria Confortável           </a>   <br>

        </aside>
        <center>
        <img style="width: 20%; height: 20%; position: absolute, fixed, center; z-index: 1; top: 0;" src="@Url.Content("~/img/logo.svg")" alt="" />
        </center>


    <header class="blog-header">
        <h1>Blog de Finanças</h1>
    </header>
    <br>
    <br>
    <br>
    <main class="blog-main-content">
        <article class="blog-post">
            <h2 id="Reserva" class="blog-post-title">1. Construindo uma Reserva para Emergências: Preparando-se para o Inesperado</h2>
            <br>
            <br>
            <p class="blog-post-content">
                A criação de uma reserva financeira pode ser comparada à construção de um sólido colchão de segurança. A vida está repleta de surpresas, desde despesas médicas imprevistas até reparos domésticos urgentes ou a inesperada perda de emprego.
            </p>
            <br>
            <p class="blog-post-content">
                Diante desses desafios, ter uma reserva financeira estabelecida é como erguer um escudo financeiro que proporciona segurança e estabilidade.
            </p>
            <br>
            <p class="blog-post-content">
                As emergências podem surgir a qualquer momento, e é crucial estar preparado para enfrentá-las sem comprometer significativamente seu padrão de vida. A prática consistente de economizar contribui para a construção desse escudo protetor. Quando você reserva uma parte do seu orçamento regularmente, está efetivamente fortalecendo suas defesas contra imprevistos financeiros.
            </p>
            <br>
            <center>
				<img src="https://prontoprainvestir.com.br/wp-content/uploads/2019/05/Fundo-de-Emergencia.jpg" class="blog-img" alt="Reserva para Emergências">
            </center>
            <br><br>
        </article>

        <article class="blog-post">
            <h2 id="Metas" class="blog-post-title">2. Realização de Metas de Curto e Longo Prazo</h2>
            <br>
            <p class="blog-post-content">Seja comprar uma casa, financiar a educação dos filhos ou fazer uma viagem dos sonhos, economizar ajuda a transformar metas em realidade. Estabelecer objetivos financeiros claros e economizar regularmente permite acumular os recursos necessários para alcançar esses marcos significativos.</p>
            <br>
            <center>
				<img src="https://files.sunoresearch.com.br/p/uploads/2020/02/A%C3%A7%C3%B5es-garantem-o-futuro5.jpg" class="blog-img" alt="Realização de Metas">
            </center>
            <br><br>

        </article>

        <article class="blog-post">
            <h2 id="Financeira" class="blog-post-title">3. Independência Financeira</h2>
            <br>
            <p class="blog-post-content">A capacidade de ser financeiramente independente é uma das maiores conquistas que a economia pode proporcionar. Economizar dinheiro dá a você a liberdade de fazer escolhas que não são apenas orientadas pela necessidade financeira imediata, mas pela busca de uma vida mais plena e realizada.</p>
            <br>
            <center>
				<img src="https://files.sunoresearch.com.br/p/uploads/2018/08/financial-independence.jpg" class="blog-img" alt="Independência Financeira">
            </center>
            <br><br>
        </article>

        <article class="blog-post">
            <h2 id="Investimento" class="blog-post-title">4. Aproveitar Oportunidades de Investimento</h2>
            <br>
            <p class="blog-post-content">Ao economizar, você não apenas armazena dinheiro, mas também cria uma base para investir. Investir pode oferecer retornos significativos ao longo do tempo, ajudando a aumentar sua riqueza. A economia regular fornece os recursos iniciais para explorar oportunidades de investimento que podem gerar crescimento financeiro a longo prazo.</p>
            <br>
            <center>
				<img src="https://blog.daycoval.com.br/wp-content/uploads/2023/07/como-diversificar-os-investimentos.jpg" class="blog-img" alt="Aproveitar Oportunidades de Investimento">
            </center>
            <br><br>
        </article>

        <article class="blog-post">
            <h2 id="Estresse" class="blog-post-title">5. Redução do Estresse Financeiro</h2>
            <br>
            <p class="blog-post-content">A falta de economia pode levar a situações de estresse financeiro, onde a pressão para atender às despesas imediatas é avassaladora. Ter uma reserva financeira oferece paz de espírito, pois você sabe que está preparado para enfrentar desafios financeiros inesperados.</p>
            <br>
            <img src="https://static.tuasaude.com/media/article/yp/gv/como-combater-o-stress_22041_l.jpg" class="blog-img" alt="Redução do Estresse Financeiro">
            <br><br>
        </article>

        <article class="blog-post">
            <h2 id="Aposentadoria" class="blog-post-title">6. Aposentadoria Confortável</h2>
            <br>
            <p class="blog-post-content">A economia sistemática é crucial para garantir uma aposentadoria confortável. Ao começar a economizar desde cedo, você aproveita o poder dos juros compostos, maximizando o valor acumulado ao longo dos anos. Isso proporciona uma aposentadoria mais tranquila e agradável.</p>
            <br>
            <center>
				<img src="https://img.freepik.com/fotos-premium/os-anos-aposentados-sao-os-anos-felizes-foto-de-um-casal-senior-feliz-passando-tempo-juntos-ao-ar-livre_590464-13264.jpg" class="blog-img" alt="Aposentadoria Confortável">
            </center>  
            <br><br>
        </article>
    </main>


         <footer id="mobile-btn">
             <center>
                 <div class="mobile-btn-div">
                     <aside class="button">
                    <a asp-controller="TableRegister" asp-action="Index" style="margin-right: 10%;">
                             <img style="width: 38px; height: 38px;" class="btnHomelateral"
                              src="https://th.bing.com/th/id/R.84704c03b283a7d24041f27f37b6572e?rik=NT%2bl5mCHckhO7g&riu=http%3a%2f%2fpurepng.com%2fpublic%2fuploads%2flarge%2fpurepng.com-black-coincoinsmetaldollarblack-14215264847000sfms.png&ehk=GEicSaHziIgIZJJ%2b6O%2feOTqllWc47br7%2fEcUCQsCF60%3d&risl=&pid=ImgRaw&r=0" />
                         </a>
                     <a asp-controller="Home" asp-action="Index" style="margin-left: 0%; margin-right: 0%; filter:invert(1)">
                             <img class="btnHome" src="@Url.Content("~/img/Home.svg")" />
                         </a>
                     <a  asp-controller="Register" asp-action="Index" style="margin-left: 10%">
                             <img style="width: 38px; height: 38px;" class="btnHomelateral"
                              src="https://wowjohn.com/wp-content/uploads/2022/05/cadastro-icon-png-Transparent-Images-200x200.png" />
                         </a>
                     </aside>
                 </div>
             </center>
         </footer>

    </section>
    